@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
  
    where every color shines bright and every child's potential is nurtured! At Rainbow School,
    we believe in fostering a vibrant and inclusive learning environment where diversity is celebrated and individuality is embraced.
    Our curriculum is designed to ignite curiosity, stimulate creativity, and cultivate a love for learning in every student.

    Here's a glimpse into what makes Rainbow School a truly special place:

    Colorful Curriculum:
    Our curriculum is as diverse as the colors of the rainbow!
    From science to art, mathematics to music, every subject is explored through a kaleidoscope of engaging activities and
    hands-on experiences. We believe in providing a well-rounded education that inspires students to explore their passions
    and discover new interests.

    Inclusive Community:
    At Rainbow School, we celebrate diversity in all its forms.
    We embrace students from all backgrounds, cultures, and abilities, creating a warm and
    welcoming community where everyone feels valued and respected. Our teachers are committed to fostering a sense of
    belonging and acceptance, ensuring that every child has the opportunity to thrive.

    Creative Expression:
    Creativity knows no bounds at Rainbow School! Whether it's through art, music, drama, or dance, we encourage students to express
    themselves freely and imaginatively. Our classrooms are alive with color and creativity, providing a stimulating environment where
    innovation flourishes and self-confidence grows.

    Holistic Development:
    We believe in nurturing the whole child – mind, body, and spirit.
    Alongside academic excellence, we prioritize the social, emotional, and physical well-being of our students.
    Through mindfulness practices, outdoor play, and community service projects, we empower students to develop resilience, empathy, and a
    strong sense of self.

    Partnership with Parents: We recognize that parents are our partners in education.
    We value open communication and collaboration, working closely with families to support each child's unique journey.
    Through parent workshops, family events, and regular updates, we ensure that parents are involved and informed every step of the way.

    At Rainbow School, every day is a colorful adventure filled with laughter, learning, and endless possibilities.
    Join us on this vibrant journey of discovery and growth!
    </p>
</main>